<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title> Vue lista </title>
</head>
<body>
    <!-- root -->
    <div id="root">
        <!-- titolo -->
        <h1> Lista con Vue</h1>
        <!-- /titolo -->
        <!-- testo da inserire -->
        <div class="input">
            <input type="text" @keydown.enter="aggiungi" v-model="testoInput" placeholder="scrivi qui.."> 
            <button @click="aggiungi"> Aggiungi lista </button>
        </div>
        <!-- /testo da inserire -->
        <!-- ul -->
        <ul v-if="lista.length > 0"> 
            <!-- li che cicla sugli elementi -->
            <li v-for="elemento,contatore in lista">
                <div class="lista"> 
                    <span @click="spunta(contatore)" :class="elemento.completata ? 'barra' : '' "> 
                        {{ elemento.testo }}
                    </span>
                </div>
                <i class="fas fa-times-circle" @click="rimuovi(contatore)" ></i>
            </li>
            <!-- li che cicla sugli elementi -->
        </ul>
        <!-- /ul -->
        <!-- scrive se non ci sono elementi nella lista -->
        <h1 v-else> Non ci sono cose da fare!</h1>
        <!-- /scrive se non ci sono elementi nella lista -->
    </div>
    <!-- /root -->

    


    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>